<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./../src/output.css">
</head>
<body class="min-h-screen bg-[#52ba31] opacity-100 flex">


    
    <div class="min-h-screen w-full flex flex-row justify-center">
     
        <div class="w-1/2 h-screen flex flex-col justify-center items-center">
            <div id="space" class="w-4/5 h-4/5 border-4 border-white rounded-lg shadow-emerald-950 shadow-2xl">
                <form id="loginForm" class="w-4/5 h-4/5 mt-12 flex-col flex justify-center items-center space-y-6">
                    <h1 class="text-2xl text-white">LetterTo2050</h1>

                    <div class="relative flex items-center h-1/12 w-3/5 bg-white rounded-md">
                        <img src="./../src/picture/email.png" alt="user" class="absolute left-3 h-3/5 w-1/12">
                        <input type="email" id="email" class="pl-10 text-start focus:outline-none hover:bg-amber-100 hover:rounded-md w-full h-full text-black" required placeholder="email">
                    </div>  

                    <button type="submit" class="h-1/11 w-1/4 bg-orange-500 hover:bg-amber-800 hover:text-bold rounded-xl">Log in</button>
                </form>
            </div>
        </div>
       
        <div id="spacex" class="min-h-screen w-full flex flex-row justify-center hidden">
        <div id="verifyPasswordSection" class="w-full h-screen flex flex-col justify-center items-start ">
            <div class="w-3/5 h-3/5 border-4 border-white rounded-lg shadow-emerald-950 shadow-2xl">
                <form id="passwordForm" class="w-4/5 h-4/5 mt-12 flex-col flex justify-center items-center space-y-6">
                    <h1 class="text-2xl text-white">Enter Your Password</h1>

                    <div class="relative flex items-center h-1/12 w-3/5 bg-white rounded-md">
                        <img src="./../src/picture/email.png" alt="user" class="absolute left-3 h-3/5 w-1/12">
                        <input type="password" id="password" class="pl-10 text-start focus:outline-none hover:bg-amber-100 hover:rounded-md w-full h-full text-black" required placeholder="Password">
                    </div>  

                    <button type="submit" class="h-1/11 w-1/4 bg-orange-500 hover:bg-amber-800 hover:text-bold rounded-xl">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>

  <script src="./../Public/login.js"></script>

</body>
</html>
