<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2050'ye Mektup Projesi Login Sayfası </title>
    <link rel="stylesheet" href="./../src/output.css">
</head>
<body class="min-h-screen bg-[#E9E49E] opacity-100">
    <div class="min-h-screen w-full flex flex-row">

      <!--Login Picture-->
      <div class="w-1/2 bg-[url(./../src/picture/signupPicture.jpg)]   flex items-end  justify-start bg-center bg-cover    ">
            <div class="w-1/2 h-1/2 flex flex-col  justify-center items-end space-y-4  ">
              <p class=" text-amber-50 text-2xl underline decoration-amber-50 ">Hesabınız yok mu?</p>
              <div class="w-2/5 h-1/6  bg-amber-50 flex justify-center  items-center rounded-2xl shadow-blacks shadow-md">
                <button id="signup" class=" text-black text-xl  "> Kayıt ol</button>
                <p id="message" class="text-black"></p> 
              </div>
            </div>

           
      </div>

    <div class=" w-1/2  h-screen flex flex-col  justify-center  items-center ">
      <div class=" w-4/5 h-4/5 border-4 border-emerald-800 rounded-lg shadow-emerald-950 shadow-2xl">
        <form  id="login-form" class="w-4/5 h-4/5 mt-12   flex-col flex justify-center  items-center space-y-6 ">
            <h1>...Hoşgeldiniz</h1>
    
              
              <div class="relative flex items-center h-1/12 w-1/2 bg-[#EFEFBA] rounded-md">
                <img src="./../src/picture/email.png" alt="user" class="absolute left-3 h-3/5 w-1/12">
                <input type="email" name="email" id="email" class="pl-10 text-start focus:outline-none hover:bg-amber-100 hover:rounded-md   w-full h-full  text-black " required placeholder="email">
              </div>  
              <div class="relative flex items-center  h-1/12 w-1/2 bg-[#946336] rounded-md">
                <img src="./../src/picture/password.png" alt="user" class="absolute left-3 h-3/5 w-1/12">
                <input type="password" name="password" id="password" class="pl-10 text-start focus:outline-none hover:bg-amber-900 hover:rounded-md  w-full h-full  text-black " required placeholder="Şifre">
              </div>  

                <button type="submit" class=" h-1/11 w-1/4   bg-[#297040]  hover:bg-emerald-950 hover:text-bold rounded-xl">Giriş Yap</button> 
        </form>
      </div>
        </div>
    
      </div>

    <script src="./../Public/loginForm.js"></script>
</body>
</html>